@model IEnumerable<BOL.Data.File>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>Edit </th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    <a href="~/files/@item.Path">@item.Path</a>
            </td>
            
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            
        </tr>
}
    </tbody>
</table>
